<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
    <head>
        <title>Log File Homepage</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="form-div">
            <h1 class="form-title"> {{ t }} </h1>
        </div>
    </body>

    <script>
        $("#btn-redirect").click(function() {
            window.location.href = "/log/view";
        });
    </script>
</html>