<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
    <head>
        <title>Log File Homepage</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="form-div">
            <h1 id="form-title"> {{ file_name }}</h1>
            <button id="character-count">View last 1000 characters</button>
            <p id="log-file-text"> {{ log_text }}</p>
            <p id="path-name"> {{ path_name }}</p>
        </div>
    </body>

    <script>
        $("#btn-redirect").click(function() {
            window.location.href = "/log/view";
        });

        const fileName = document.getElementById("form-title").textContent.substring(1);
        const fileText = document.getElementById("log-file-text")
        const pathName = document.getElementById("path-name").textContent

        $('#character-count').click(() => {
            $.get(`/log/view/dataload/${fileName}?count=1000&pathname=${pathName}`,
                function(data, status) {
                    fileText.innerHTML = data.replaceAll("\n", "<br />");
                }
            );
        })
    </script>
</html>